.btn {
  display: inline-block;
  padding: 14px 14px 11px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 13px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  // Block button
  &--block {
    display: block;
    width: 100%;
  }
  // Button sizes
  &--small {
    padding: 9px 10px 8px;
    font-size: 10px;
  }
  // Button colors
  &--ghost {
    border: 1px solid #dedede;
    color: #8a8a8a;
    &:hover {
      border: 1px solid #00a99d;
      background-color: #00a99d;
      color: #e3e3e3;
    }
  }
  &--green {
    background-color: #00a99d;
    color: #e4e4e4;
    &:hover {
      background-color: #383838;
    }
  }
  &--gray {
    background-color: #e4e4e4;
    color: #606060;
    &:hover {
      background-color: #383838;
      color: #e4e4e4;
    }
  }
  &:disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none;
  }
  &:focus, &:active {
    outline: 0;
    box-shadow: 0 0 8px 1px #8a8a8a;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--block {
    width: 100%;
  }
}