.bubble {
  padding: 0;
  background-image: url(../images/bubble.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bubble__wrapper {
  min-height: 170px;
  background-image: url(/images/bubble-man.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}