$arrow-left: (0px, 0px, 32px, 32px, 'arrow-left');
$arrow-right: (-32px, 0px, 32px, 32px, 'arrow-right');
$png-sprites: ($arrow-left, $arrow-right, );

@mixin png-sprite($sprite) {
  width: nth($sprite, 3);
  height: nth($sprite, 4);
  background-image: url(/images/sprite.png);
  background-repeat: no-repeat;
  background-position: nth($sprite, 1) nth($sprite, 2);
}

// The `png-sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include png-sprites($png-sprites);
@mixin png-sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 5);
    .#{$sprite-name} {
      @include png-sprite($sprite);
    }
  }
}